.QuizQuestion {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

h2 {
  margin-bottom: 20px;
}

.timer {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
}

.cardFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  h4 {
    color: var(--color-primary);
  }
}
