.QuizPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--color-secondary);
}

.startQuiz {
  text-align: center;
  display: flex !important;
  flex-direction: column;
  gap: 2rem;
}

button {
  margin-top: 20px;
  background-color: white !important;
  color: var(--color-primary) !important;
  font-weight: bold !important;
//   &:hover {
//     background-color: #f0ecec;
//   }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcomeText {
  font-size: 2rem;
  color: var(--color-primary);
}
