.QuestionsPage {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error {
  color: red;
  text-align: center;
}

.createButton {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-width: 14rem !important;
  max-width: 16rem !important;
  background-color: var(--color-secondary) !important;
}

.questionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.filterControl {
  min-width: 100px;
  background-color: #ffffff00;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--color-secondary);
}
